/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2014, 11:06:09 PM
    Author     : Elemér Furka
*/

.command {
    min-width: 50px;
}

.expressionEntry {
    text-align: center;
}

.expressionId {
    min-width: 40px;
}
